.list-item{
	height:90px;
	line-height:90px;
	position:relative;
	img{
		width:80px;
		height:80px;
		margin:5px;
		vertical-align: middle;
	}
	span{
		padding-left:20px;
		color:blue;
	}
	&.trans{
		transition: all .5s linear;
	}
	&.action{
		transform:translateX(-60px);
		span{
			color:red;
		}
	}
	.delete{
		position:absolute;
		width:60px;
		height:100%;
		text-align:center;
		top:0;
		left:100%;
		background:skyblue;
		color:#fff;
	}
}