.activity-more{
  font-size: 3.46667vw;
  color: #999;
  text-align: center;
  padding: 4vw 0 4.8vw;
  svg{
    height: 2.4vw;
    width: 1.333333vw;
    margin-left: 1.466667vw;
    background:yellow;
  }
}
